.body
  .side-menu
    .side-menu__area
      .post__btn__text
        画像を投稿！    
      = link_to "#", class: "post__btn" do
        = icon('fas', 'camera') 
  .main-menu         
    .search-menu
      .search
        .search-form
          .search-input
    .post-new
      .post-new__text
        生き物の名前
      .post-new__date
        2020/08/03
      .post-new__image
        .post-new__details
          詳細
        .post-new__delete
          削除
        .post-new__edit
          編集